*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(24, 27, 40, 0.5), rgba(227, 223, 219, 0.9)), url('imgs/grim-banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.menu{
    background-color: none;
    position: relative;
    display: inline-block;
}
.links{
    display: none;
    position: absolute;
    border-radius: 5px;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.links a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    color: rgb(99, 99, 143);
    display: flex;
    padding: 8px 10px;
    text-decoration: none;
}
.menu a:hover{
    background-color: #ddd;
    border-radius: 5px;
    color: rgb(99, 99, 143);
}
.menu:hover .links{
    display: block;
}
.ddbtn{
    background-color: none;
    border-radius: 5px;
    color:white;
    padding: 8px;
    font-size: 20px;
    border: none;
}
.text{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align: center; 
    position: relative;
    padding: 8px;
    font-size: 15px;
}


.portheader{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(14, 21, 57, 0.9), rgba(227, 223, 219, 0.9));
    background-position: center;
    background-size: cover;
    position: relative;
}